
@{
    ViewBag.Title = "Index";
}

<h2>工具列表</h2>

<fieldset>
    <legend>单独功能 </legend>

</fieldset>




<fieldset>
    <legend>信息地址 </legend>

    <ul>
        <li><a href="http://urisure.mad.buttobi.net/">采集结果 http://urisure.mad.buttobi.net/</a></li>
        <li><a href="https://www.showroom-live.com/campaign/all_rooms?title=akb48_sr">场地清单（成员列表，不包括D3）</a></li>
        <li><a href="https://www.showroom-live.com/campaign/akb48_sr">AKB在SR上的主页</a></li>
    </ul>


</fieldset>


